# Postgres
POSTGRES_CONTAINER_NAME="postgres"

POSTGRES_USER="postgres"
POSTGRES_PASSWORD="postgres"
POSTGRES_DB="postgres"

# Redis
REDIS_CONTAINER_NAME="redis"

# RabbitMQ
RABBITMQ_CONTAINER_NAME="rabbit"

RABBITMQ_DEFAULT_USER="user"
RABBITMQ_DEFAULT_PASS="pass"

# Minio
MINIO_CONTAINER_NAME="minio"

MINIO_ROOT_USER="minioadmin"
MINIO_ROOT_PASSWORD="minioadmin"

# Mongo
MONGO_CONTAINER_NAME="mongo"

MONGO_INITDB_ROOT_USERNAME="mongo"
MONGO_INITDB_ROOT_PASSWORD="mongo"
MONGO_INITDB_DATABASE="mongodb"

# Nginx
NGINX_CONTAINER_NAME="nginx"

# Prometheus
PROMETHEUS_CONTAINER_NAME="prometheus"

# Grafana
GRAFANA_CONTAINER_NAME="grafana"