services:
  postgres:
    image: postgres:18.0
    container_name: postgres
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    volumes:
      - ./storage/postgres:/var/lib/postgresql
    networks:
      - default

#  mongo:
#    image: mongo:8.0.5-noble
#    container_name: mongo
#    restart: always
#    ports:
#      - "27017:27017"
#    volumes:
#      - ./storage/mongo:/data/db
#    environment:
#      MONGODB_INITDB_ROOT_USERNAME: admin
#      MONGODB_INITDB_ROOT_PASSWORD: admin
#    networks:
#      - default

  redis:
    image: redis:8.2.2
    container_name: redis
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - ./storage/redis:/data
    networks:
      - default

  rabbitmq:
    image: rabbitmq:4.2-rc
    container_name: rabbitmq
    restart: always
    ports:
      - "5672:5672"
    environment:
      RABBITMQ_DEFAULT_USER: admin
      RABBITMQ_DEFAULT_PASS: admin
    volumes:
      - ./storage/rabbitmq:/var/lib/rabbitmq
    networks:
      default:

  minio:
    image: minio/minio:RELEASE.2024-12-18T13-15-44Z.fips
    container_name: minio
    restart: always
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    volumes:
      - ./storage/minio:/data
    command: server /data --console-address ":9001"
    networks:
      - default

networks:
  default:
