services:
  postgres:
    image: postgres:17.0
    container_name: postgres
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    volumes:
      - ./storage/postgres:/var/lib/postgresql/data
    networks:
      - default

  redis:
    image: redis:7.2
    container_name: redis
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - ./storage/redis:/data
    networks:
      - default

  rabbitmq:
    image: rabbitmq:4.2-rc-management
    hostname: 'rabbitmq'
    container_name: rabbitmq
    restart: always
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: admin
      RABBITMQ_DEFAULT_PASS: admin
    volumes:
      - ./storage/rabbitmq:/var/lib/rabbitmq
    networks:
      default:

  minio:
    image: minio/minio:RELEASE.2024-12-18T13-15-44Z.fips
    container_name: minio
    restart: always
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    volumes:
      - ./storage/minio:/data
    command: server /data --console-address ":9001"
    networks:
      - default

  nginx:
    image: nginx:1.29.2
    container_name: nginx
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./conf/nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./conf/nginx/conf.d/default.conf:/etc/nginx/conf.d/default.conf
      - ./certs:/etc/nginx/certs:ro
    networks:
      - default

networks:
  default:
    name: "app"
