services:
  postgres:
    image: postgres:17.0
    container_name: ${POSTGRES_CONTAINER_NAME}
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - ./storage/postgres:/var/lib/postgresql/data
    networks:
      - default

  redis:
    image: redis:7.2
    container_name: ${REDIS_CONTAINER_NAME}
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - ./storage/redis:/data
    networks:
      - default

  rabbitmq:
    image: rabbitmq:4.2-rc-management
    hostname: 'rabbitmq'
    container_name: ${RABBITMQ_CONTAINER_NAME}
    restart: always
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_DEFAULT_USER}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_DEFAULT_PASS}
    volumes:
      - ./storage/rabbitmq:/var/lib/rabbitmq
    networks:
      default:

  minio:
    image: minio/minio:RELEASE.2024-12-18T13-15-44Z.fips
    container_name: ${MINIO_CONTAINER_NAME}
    restart: always
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: ${MINIO_ROOT_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
    volumes:
      - ./storage/minio:/data
    command: server /data --console-address ":9001"
    networks:
      - default

#  mongodb:
#    image: mongo:8.0.5-noble
#    container_name: ${MONGO_CONTAINER_NAME}
#    restart: always
#    ports:
#      - "27017:27017"
#    environment:
#      MONGO_INITDB_ROOT_USERNAME: ${MONGO_INITDB_ROOT_USERNAME}
#      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_INITDB_ROOT_PASSWORD}
#      MONGO_INITDB_DATABASE: ${MONGO_INITDB_DATABASE}
#    volumes:
#      - ./storage/mongo:/data/db
#    networks:
#      - default

  nginx:
    image: nginx:1.29.2
    container_name: ${NGINX_CONTAINER_NAME}
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./conf/nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./conf/nginx/conf.d/default.conf:/etc/nginx/conf.d/default.conf
      - ./certs:/etc/nginx/certs:ro
    networks:
      - default

  prometheus:
    image: prom/prometheus
    container_name: ${PROMETHEUS_CONTAINER_NAME}
    restart: unless-stopped
    command:
      - '--config.file=/etc/prometheus/prometheus.yaml'
    ports:
      - "9090:9090"
    volumes:
      - ./conf/prometheus:/etc/prometheus
#      - ./storage/prometheus:/prometheus # in the case using your volumes instead of docker, make sure set owner of the volume 65534:65534
      - prometheus_data:/prometheus

  grafana:
    image: grafana/grafana
    container_name: ${GRAFANA_CONTAINER_NAME}
    restart: unless-stopped
    ports:
      - "3000:3000"
    volumes:
#      - ./storage/grafana:/var/lib/grafana # in the case using your volumes instead of docker, make sure set owner of the volume 472:472
      - grafana_data:/var/lib/grafana

volumes:
  prometheus_data:
  grafana_data:

networks:
  default:
    name: "app"
