global:
  scrape_interval: 15s
  scrape_timeout: 10s
  evaluation_interval: 15s

scrape_configs:
  - job_name: prometheus
    honor_timestamps: true
    static_configs:
      - targets:
          - localhost:9090

  - job_name: django
    honor_timestamps: true
    static_configs:
      - targets:
          - 172.17.0.1:8000